<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUkkx1nbzAKo0R9A6EKe_-9-xuwc5wJpU</string>
	<key>GCM_SENDER_ID</key>
	<string>31279800495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.closingengage.app</string>
	<key>PROJECT_ID</key>
	<string>closing-engage</string>
	<key>STORAGE_BUCKET</key>
	<string>closing-engage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31279800495:ios:04f538a5c7c533377a345a</string>
</dict>
</plist>